# ENVIRONMENT
NODE_ENV=
PORT=

# DATABASE
DATABASE=
DATABASE_PWD=

# JWT AUTH
JWT_SECRET_KEY=
JWT_EXPIRY=
JWT_COOKIE_EXPIRY=

# MAILTRAP SANDBOX
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# RAZORPAY
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=